* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: #000000d5;
    color: #ffffff;
}

.container
{
    /* background-color: yellowgreen; */
    max-width: 1000px;
    margin: 0 auto;
}

.container-flex
{
    /* background-color: aqua; */
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form
{
    background-color: darkcyan;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
}

form
.flex
{
    display: flex;
    flex-direction: column;
}

div
label
{
    margin-top: 20px;
}

div
input
{
    /* margin-bottom: 23px; */
    height: 30px;
}

div
.input-container
{
    display: flex;
    flex-direction: column;
}

form
button
{
    width: 50%;
    align-self: center;
    margin-top: 20px;
}

i{
    margin: -23px 0px 0px 230px;
    cursor: pointer;
    color: darkcyan;
}