:root {
    /* background: linear-gradient(190deg, red, blue, green, orange); */
    background: radial-gradient(closest-side, #3f87a6, #ebf8e1, #f69d3c);
    /* background-color: black; */
    color: green;
}

.card-continer {
    position: relative;
    width: 100%;
}

.card-image {
    position: absolute;
    width: 100%;
    z-index: -1;
    /* filter: brightness(5); */
    filter: drop-shadow(0 0 0.75rem crimson);
}

.card-body {
    position: absolute;
    width: 100%;
    background: black;
    opacity: 0.6;
    /* color: white; */
    top: 7rem;
    text-align: center;
    font-size: 1.2em;
}

.card-heading {
    position: absolute;
}