body {
    background-color:#f4f4f4;
    color:#555;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    line-height:1.6em;
    margin:0;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    width:80%;
    margin:auto;
    overflow:hidden;
}

#mainHeader {
    background-color:coral;
    color:#fff;
}

#navbar {
    background-color:#333;
    color:#fff;
    
}

#navbar ul {
    list-style:none;
    padding:0;
}

#navbar li {
    display:inline;
    padding-right:20px;
    font-size:18px;
}

#navbar a {
    text-decoration:none;
    color:#fff;
}

#navbar a:hover {
    color:chocolate;
}

#navbar a:active {
    color:sienna;
}

#showcase {
    background-image: url('img/showcase.jpg');
    background-position: center middle;
    min-height:300px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
}

#showcase h1 {
    color: #fff;
    line-height: 1.6em;
    font-size: 50px;
    padding-top: 30px
}

#main {
    float: left;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box;
}

#sidebar {
    margin-top: 40px;
    float: right;
    width: 30%;
    padding:10px;
    background-color: #333;
    color: #fff;
    box-sizing: border-box;
}

#mainFooter {
    background-color: #333;
    color: #fff;
    margin-top: 50px;
    text-align: center;
    padding: 20px;
    bottom: 10px;
}

@media(max-width: 600px) {
    #main {
        width: 100%;
        float: none;
    }

    #sidebar {
        width: 100%;
        float: none;
    }
}

.tust {
    background-color: yellow;
}